[submodule "src/trackjoiner/igc-parser"]
	path = src/trackjoiner/igc-parser
	url = git@github.com:eltorio/igc-parser.git
[submodule "src/trackjoiner/fit-parser"]
	path = src/trackjoiner/fit-parser
	url = git@github.com:eltorio/fit-parser.git
